.img-logo{
    width: 30%;
    padding: auto;
}

.img-footer{
    width: 15%;
    padding: 0;
}

.img-principal{
    width: 90%;
    padding: auto;
}
.img-escudo{
    width: 80%;
    padding: auto;
}

.link-contacts{
    text-decoration: none;
    color: rgb(123, 123, 123);
    
}

.icon{
    width: 5%;
    padding: 3px;
    
}


.footer{
    background-color: black;
    color: white;
}

.link-footer{
    text-decoration: none;
    color: white;
}

.card-carreras{
    width: 18rem;
}